img {
	border-style: solid;
	border-width: 5px;
	border-color: #c7f8f9;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
img:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
	
